.slider {
  padding: 0 4%;
  position: relative;
  margin-bottom: 0px;
  overflow-x: hidden;
  overflow: hidden;

  &-content {
    white-space: nowrap;
  }

  &:not(&--open) .item:hover {
    transform: scale(1.5) !important;
  }

  p {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
  }

  &:hover,
  &:active {
    .slider-control {
      background-color: rgba(20, 20, 20, 0.7);
    }

    .slider-control-arrow {
      display: block;
    }
  }
}

.slider-title{
  padding-left: 3.6em;

  p {
    color: rgb(255, 255, 255);
    font-size: 1.4em;
  }
}

.btm-player {
  max-width: 10px;
  width: 10%;
  margin: auto;
  -webkit-box-shadow: 0px 0px 56px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 56px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 56px 0px rgba(0, 0, 0, 0.75);
}

.body {
  overflow: auto;
}